{% extends "base.html" %}
{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for('admin_books') }}">Books</a>
            <a class="nav-link" href="{{ url_for('admin_requests') }}">Requests</a>
            <a class="nav-link" href="{{ url_for('admin_statistics') }}">Statistics</a>
            <a class="nav-link" href="{{ url_for('admin_search') }}">Search</a>
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
{% endblock %}
{% block content %}
{% if requests|length == 0 %}
<p>No requests found.</p>
{% else %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Requests</h1>
            </div>
        </div>
    </div>
    {% for request,username,bookname in requests %}
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">{{ bookname }}</h5>
            <p class="card-text">Requested by: {{ username }}</p>
            <center>
                <a href="{{url_for('approve_request',request_id=request.request_id)}}" class="btn btn-primary">Approve</a>
                <a href="{{url_for('reject_request',request_id=request.request_id)}}" class="btn btn-danger">Reject</a>
            </center>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if issued_books|length == 0 %}
<p>No issued books found.</p>
{% else %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Issued Books</h1>
            </div>
        </div>
    </div>
    {% for issued_book, username, bookname in issued_books %}
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">{{ bookname }}</h5>
                <p class="card-text">Issued to: {{ username }}</p>
                <p class="card-text">Issued till: {{ issued_book.return_date }}</p>
                <center>
                    <!-- Revoke access -->
                    <a href="{{ url_for('revoke_issued_book', issued_id=issued_book.issued_id) }}" class="btn btn-danger">Revoke Access</a>
                </center>
            </div>
        </div>

    {% endfor %}
    {% endif %}
    <a href="{{ url_for('admin') }}" class="btn btn-primary">Back</a>
</div>
{% endblock %}